{% extends 'base.html' %}
{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="login-container">
    <h2>Login</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}    
      {% if messages %}
        {% for category, message in messages %}
          <div class="message {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
        
    <form method="POST" action="/login">
      <div class="input-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="input-group">
        <label class="checkbox">
            <input type="checkbox" name="remember">
            Remember me
        </label>
      </div>
      <div id="signup-reminder">
        Don't have an account? <a href="{{url_for('auth.signup')}}">Sign Up</a>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
{% endblock %}
